# Title

## 1. Project Overview

- **Problem Statement**: Your goal is to analyze sales data to uncover trends, seasonal patterns, and factors influencing sales. This includes understanding how different variables affect sales performance and identifying opportunities for optimization.

- **Scope**: Utilize transactional data (sales records) and inventory data to provide a comprehensive analysis. This may involve examining sales figures, inventory levels, promotions, and other relevant factors.

Data Source: https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data

## 2. Imports

In [37]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

## 3. Data Loading

In [38]:
sales = pd.read_csv('./datasets/Amazon Sale Report.csv')
sales.head()

C:\Users\USER\AppData\Local\Temp\ipykernel_7248\3939810798.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  sales = pd.read_csv('./datasets/Amazon Sale Report.csv')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [39]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

### Conversion of datatypes

In [40]:
sales['Date'] = pd.to_datetime(sales['Date'])
sales['ship-postal-code'] = sales['ship-postal-code'].astype(object)
sales.drop(columns='Unnamed: 22', inplace=True)
sales.info()

C:\Users\USER\AppData\Local\Temp\ipykernel_7248\140846542.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  sales['Date'] = pd.to_datetime(sales['Date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  datetime64[ns]
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  object
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(18)
memory usage: 21.8+ MB

## 4. Data Cleaning

### Handling missing values

In [41]:
# Creating a series of percentage of missing values per column
missing_values = sales.isna().mean()*100

# View only columns with missing values
missing_values[missing_values > 0]

Courier Status       5.328164
currency             6.043807
Amount               6.043807
ship-city            0.025586
ship-state           0.025586
ship-postal-code     0.025586
ship-country         0.025586
promotion-ids       38.110487
fulfilled-by        69.546811
dtype: float64

The **fulfilled-by** column has more than 50% of its entries missing. We will inspect the nature of its values first.

In [42]:
# Check the entries in the fulfiled-by column
print('Fulfilled-by column values:', sales['fulfilled-by'].unique())

Fulfilled-by column values: ['Easy Ship' nan]

Since it contains only one value we can let go of the fulfilled-by column with ease

In [43]:
sales.drop(columns = 'fulfilled-by', axis = 1, inplace = True)

missing_values = sales.isna().mean()*100
missing_values[missing_values > 0]

Courier Status       5.328164
currency             6.043807
Amount               6.043807
ship-city            0.025586
ship-state           0.025586
ship-postal-code     0.025586
ship-country         0.025586
promotion-ids       38.110487
dtype: float64